* {
    box-sizing: border-box
}

body {
    color: whitesmoke;
    background: linear-gradient(125deg, #111111, #2c3d4f);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#play {
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin: auto;
}

#play .card {
    width: 100%;
}

#play .card .card-body {
    display: flex;
    padding: 1rem
}

#play .card .card-body .left,
#play .card .card-body .right {
    flex-grow: 1;
    display: flex;
    justify-content: center
}

#play .card .card-body .center {
    flex-grow: 2;
}

#play .card .card-body .left button,
#play .card .card-body .center button,
#play .card .card-body .right button {
    background: transparent;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

#play .card .card-body .left button:hover,
#play .card .card-body .center button:hover,
#play .card .card-body .right button:hover {
    background-color: #161b21;
    border-radius: 5px;
}
#play .card .card-body .center .play-navigate{
    justify-content: center;
    display: flex;
}
#play .card .card-body .center .play-progress{
    display: flex;
}
#play .card .card-body .center .play-progress .progress,
#play .card .card-body .right .progress{
    width: -webkit-fill-available;
    margin: 8px 15px;
    height: 5px;
    background: #283747
}
#play .card .card-body .center .play-progress .progress .progress-bar,
#play .card .card-body .right .progress .progress-bar{
    background: #d7227a!important
}
#play .card .card-body .right {
    display: inline-flex;
    justify-content: flex-end;
    flex-grow: .5;
}
#play .card .card-body .right .progress{
    width: 110px;
    margin: auto 1px;
}
/****************/
/* navBar style */
/* ************ */
.navbar-laravel {
    background: transparent;
    box-shadow: 1px -1px 8px 0px rgba(0, 0, 0, 0.49);
}

.navbar-laravel .nav-item:hover {
    background: #1c232b;
    border-radius: 3px;
}

.navbar-laravel a {
    color: #adadad !important;
}
.navbar-brand:hover{
    color: rgb(233, 30, 99) !important
}
/***************************/
/* login and register page */
/***************************/
main .container {
    margin: 50px auto;
}

.card {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.49);
    background-color: #181e23ba;
}

.card .card-header {
    background: linear-gradient(45deg, #101010, #2c3e50);
}

.card .card-body button {
    background: #111111;
    border-color: transparent;
}

.card .card-body button:hover {
    border-color: #2b3d4f
}

.card .card-body button:focus {
    outline: none;
    box-shadow: none
}

/* home page */
.dropdown-menu {
    background: #181d23;
}

.dropdown-item:hover {
    background-color: #1414148e;
}

/************************/
/***Setting page style***/
/***********************/
#setting-page .card .card-body {
    display: flex;
    min-height: 400px;
}

#setting-page .card .card-body .setting-side {
    flex-grow: 1;
    border-right: 2px solid #1c232b;
    margin-right: 15px;
}

#setting-page .card .card-body .setting-display {
    flex-grow: 4
}

#setting-page .card .card-body .setting-side .active {
    background: #1c232b;
    color: #E91E63
}

#setting-page .card .card-body .setting-side .nav-link {
    padding: 10px;
    margin-top: 2px;
    cursor: pointer;
}

#setting-page .card .card-body .setting-side .nav-link:hover {
    background: #1c232b;
}

#setting-page .card .card-body .setting-display .hide {
    display: none;
}

#setting-page .card .card-body .setting-display .profile-setting form input {
    background: linear-gradient(30deg, #101010, #1e2c3a);
    border: none;
    color: #a0adaa;
    box-shadow: 2px 4px 0px 1px #14171a;
}
/* home  */
/* songs may like */
.albums{
    display: flex;
}
.div-album:hover{
    cursor: pointer;
    background: #11111152;
}
.div-album img{
    width: 125px;
    height: 125px;
}
