@import url('https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Lobster|Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: whitesmoke;
  background: #000011;
  /* background-image: url('../img/15505.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}

/* navbar */
.navbar {
  font-family: 'Acme', sans-serif;
  transition: 500ms ease;
}

.search-icon {
  top: 17%;
  left: 3%;
}

.search-input,
.search-input:focus,
.search-input:active {
  background: transparent;
  border: 0;
  box-shadow: none;
  max-width: 500px;
  min-width: 300px;
  padding-left: 30px;
  color: rgb(202, 202, 202)
}

.navbar .right-div .nav .nav-item .nav-link {
  color: rgb(238, 238, 238) !important
}

/* //sidebar// */
.side-nav {
  position: fixed;
  /* background: #000d1f; */
  background: linear-gradient(45deg, #000d1f, transparent);
  width: 17%;
  height: 160vh;
}

.side-nav .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}

.side-nav .navbar-brand span {
  transition: 500ms ease;
  font-size: smaller;
  color: #d7227a;
}

.side-lists a {
  color: rgb(192, 192, 192);
  text-decoration: none
}

.side-list {
  font-size: 17px;
  padding: .8rem 1rem;
  margin-bottom: .5rem;
  font-family: 'Acme', sans-serif;
  border-radius: 3px;
  transition: 700ms ease;
  clip-path: circle(100% at 10% 10%);
}

.side-list:hover {
  clip-path: circle(75%);
  background: #000814;
  color: white;
  box-shadow: 0 0 5px #000b1b
}

/* index */
main .header {
  /* height: 180px; */
  height: 300px;
  background-image: url('../img/misc.gif');
  background-color: #000011;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card {
  /* background: linear-gradient(45deg, #000d1f, transparent); */
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border: none;
}

.card .card-header {
  color: rgb(95, 95, 95);
  background: transparent;
  border: 0
}

.card li.list-group-item {
  background: #00081400;
  border: 0;
  font-size: 12px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #607D8B;
  clip-path: circle(80% at 10% 10%);
  transition: 500ms ease;
  overflow: auto;
}

.card li.list-group-item:hover {
  clip-path: circle(75%);
  background: #0008142e;
}

.songs-may-like {
  background: transparent;
}

.album-card {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #001027c9;
}
.img-thumbnail{
  background-color: #011326;
  border:0;
}
.album {
  transition: 500ms ease;
}
.album:hover {
  transform: scale(1.05);
}
/* table */
.table thead th{
  border: 0;
  color: #7e7e7e
}
.table tbody tr{
  margin: 1rem;
  transition: 500ms linear;

}
.table tbody tr:hover{
  /* box-shadow: 0 0 5px #4358fb9a; */
  /* background-color: #435afb; */
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.table tbody tr th{
  border:0;
  vertical-align: baseline;
}
/* playnow */
#play {
  position: fixed;
  width: 100%;
  bottom: 0px;
  font-family: 'Gayathri', sans-serif;
}

#play .card {
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  /* background: #001027fa */
}

#play .card .card-body .left .card-title,
#play .card .card-body .left .card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#play .card .card-body .right {
  flex-grow: 1;
  display: flex;
  justify-content: center
}

#play .card .card-body .center {
  flex-grow: 2;
}

#play .card .card-body .left button,
#play .card .card-body .center button,
#play .card .card-body .right button {
  background: transparent;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

#play .card .card-body .left button:hover,
#play .card .card-body .center button:hover,
#play .card .card-body .right button:hover {
  background-color: #001027fa;
  border-radius: 5px;
  box-shadow: 0 0 2px #011c42fa;
  transform: scale(1.1);
}

#play .card .card-body .center .play-progress .progress,
#play .card .card-body .right .progress {
  width: 100%;
  margin: 0px 10px;
  height: 5px;
  background: #000b1b;

}

#play .card .card-body .center .play-progress .progress .progress-bar,
#play .card .card-body .right .progress .progress-bar {
  background: linear-gradient(45deg, #ff006c00, #ff1d70) !important
}

#play .card .card-body .right {
  display: inline-flex;
  flex-grow: .1;
}

#play .info-card {
  background: transparent;
  border: 0;
  transition: 500ms ease;
}

#play .info-card:hover {
  transform: scale(1.02);
}

#play button {
  outline: none
}

.repeat {
  animation: repeat 2500ms ease infinite;
}

@keyframes repeat {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}