@import url('https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Lobster|Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: whitesmoke;
  /* background: linear-gradient(45deg, #111111, #2c3d4f); */
  background-image: url('../img/15505.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}

/* navbar */
.navbar {
  font-family: 'Acme', sans-serif;
  transition: 500ms ease;
}

.search-icon {
  top: 17%;
  left: 3%;
}

.search-input,
.search-input:focus,
.search-input:active {
  background: transparent;
  border: 0;
  box-shadow: none;
  max-width: 500px;
  min-width: 300px;
  padding-left: 30px;
  color: rgb(202, 202, 202)
}

.navbar .right-div .nav .nav-item .nav-link {
  color: rgb(238, 238, 238) !important
}

/* //sidebar// */
.side-nav {
  position: fixed;
  background: #000d1f;
  /* background: linear-gradient(45deg, #000d1f, transparent); */
  width: 17%;
  height: 160vh;
}

.side-nav .navbar-brand {
  font-family: 'Lobster', cursive;
}

.side-nav .navbar-brand span {
  transition: 500ms ease;
  font-size: smaller;
  color: #d7227a;
}

.side-lists a {
  color: rgb(192, 192, 192);
  text-decoration: none
}

.side-list {
  font-size: 17px;
  padding: .8rem 1rem;
  margin-bottom: .5rem;
  font-family: 'Acme', sans-serif;
  border-radius: 3px;
  transition: 500ms ease;
}

.side-list:hover {
  background: #000814;
  color: white;
  box-shadow: 0 0 5px #000b1b
}

/* index */
main .header {
  height: 180px;
  background-image: url('../img/misc.gif');
  background-position: center;
  background-size: cover;
}
.card{
  background: linear-gradient(45deg, #000d1f, transparent);;
  border: none;
}
.card .card-header {
  color: #d7227a;
  background: transparent
}
.card li.list-group-item{
  background: #00081440;
  border: 0;
  font-size: 12px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #b6b6b6fa
}
.album {
  transition: 500ms ease;
}

.album:hover {
  transform: scale(.8);
}

/* playnow */
#play {
  position: fixed;
  width: 100%;
  bottom: 0px;
  font-family: 'Gayathri', sans-serif;
}

#play .card {
  width: 100%;
}

#play .card .card-body .left .card-title,
#play .card .card-body .left .card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#play .card .card-body .right {
  flex-grow: 1;
  display: flex;
  justify-content: center
}

#play .card .card-body .center {
  flex-grow: 2;
}

#play .card .card-body .left button,
#play .card .card-body .center button,
#play .card .card-body .right button {
  background: transparent;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

#play .card .card-body .left button:hover,
#play .card .card-body .center button:hover,
#play .card .card-body .right button:hover {
  background-color: #001027fa;
  border-radius: 5px;
  box-shadow: 0 0 2px #011c42fa;
  transform: scale(1.1);
}

#play .card .card-body .center .play-progress .progress,
#play .card .card-body .right .progress {
  width: 100%;
  margin: 0px 10px;
  height: 5px;
  background: #000b1b;

}

#play .card .card-body .center .play-progress .progress .progress-bar,
#play .card .card-body .right .progress .progress-bar {
  background: #d7227a !important
}

#play .card .card-body .right {
  display: inline-flex;
  flex-grow: .1;
}

#play .info-card {
  background: transparent;
  border: 0;
  transition: 500ms ease;
}

#play .info-card:hover {
  transform: scale(1.02);
}

#play button {
  outline: none
}

.repeat {
  animation: repeat 2500ms ease infinite;
}

@keyframes repeat {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}